<%- include("header") -%>
	<body>
        <div class="box-header" id="heading">

            <h1><%=listTitle%></h1>
        </div>
        <div class="box">
            <%for(let i=0 ;i<newItem.length;++i){%>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" class="" name="value" value=<%= newItem[i]._id %>  onchange="this.form.submit()">
                    <input type="hidden" name="type" value=<%=listTitle%>> 
                    <p name="check"><%=newItem[i].model.name%></p>
                    <a href="#" id="update">
                        <i class="far fa-comment-dots"></i>
                    </a>
                </div>
            </form>
            <%}%>
            
        </div>       
        <div class="box">
            <form class="item" action="/" method="post">
                <input type="text" class = "textInput" name="add" placeholder="New Item" autocomplete="off"/>
                <button class="newItem" type="submit" name="type" value=<%=listTitle%>>+</button>
            </form>
            <form class="item" action="/add-note" method="post">
                <input type="text" class = "textInput" name="add" placeholder="Search Notes" autocomplete="off"/>
                <button class="search" type="submit" name="type" value=<%=listTitle%>>
                    <i class="fab fa-searchengin"></i></button>
            </form>
        </div>  
	</body>
<%- include("footer") -%>